{{#each monsters as |beast| }}
        <div class="race-button">
                <h1 class="monsterText">{{beast.name}}</h1> <br>
                <p class="race-det"> Monster Type: {{beast.beastType}} | Size: {{beast.size}} | Challenge: {{beast.challengeRating}} | Alignment: {{beast.alignment}}</p> <br>
            </div>
        </div>
{{/each}}

