<p class="list-container">NPC List</p>

{{#each characters as |char| }}
    {{#if npc}}
    <div class="char-card">
        <div class="subrace-button" data-character-id="{{char.id}}">Name: {{char.name}} | Race: {{char.race}} <br>
            <div>Class: {{char.characterclass}} | Background: {{char.background}}</div>
                <div class="deleteButton">DELETE</div>
        </div>
    </div>
    {{/if}}
{{/each}}

<script src="/js/character.js"></script>