{{#each spells as |spell| }}
        <div class="race-button">
                <h1 class="spellText">{{spell.name}}</h1> <br>
                <p class="race-det"> School: {{spell.school}} | Level: {{spell.level}} | Damage Type: {{spell.damageType}} | Casting Time: {{spell.castingTime}}</p> <br>
                <p class="race-det"> Duration: {{spell.duration}} | Range/Area: {{spell.range}} | Components: {{spell.components}} | Attack/Save: {{spell.attackSave}}</p> <br>
        </div>
{{/each}}